<%- include("header") %>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti tempore modi enim unde facere voluptatum, laboriosam nihil assumenda vitae cupiditate et eum voluptas, velit doloribus reprehenderit praesentium excepturi cum perferendis iste nemo veritatis expedita iure. Sint veniam ex molestias similique, animi ipsa corrupti culpa, veritatis qui eum earum quidem maiores impedit reiciendis. Omnis autem recusandae, dolorem animi aspernatur rem suscipit ad neque modi quasi impedit at ipsa asperiores assumenda repellendus aperiam voluptatem nemo odit commodi dicta. Fuga sequi minima, nam est saepe nostrum ducimus velit tempora voluptates nulla iure ipsam magni necessitatibus? Eius magnam provident corporis doloremque minus quis quisquam?</p>

<%- include("footer") %>